#calendar {
	display: grid;
	grid-template-columns: repeat(7, 50px);
	grid-gap: 10px;
}

#calendar div {
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: lightgrey;
}

#calendar .day-name {
	color: white;
	background-color: darkgrey;
}

#calendar .today {
	color: white;
	background-color: red;
}

#calendar .sunday {
	color: white;
	background-color: blue;
}

#calendar .saturday {
	color: white;
	background-color: lightblue;
}

#calendar .month-year, .change-month-year {
	grid-column: span 5;
}

#calendar .none {
	background-color: white;
}

#calendar .click-right, .click-left {
	user-select: none;
}
